<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/SemiProject/src/main/resources/static/css/main.css">
    <i class="fa-solid fa-earth-asia"></i>
</head>
<body>

    <h1>테스트</h1>
    <select name="continent">
        <option selected disabled>대륙을 선택하세요</option>
        <option>아시아</option>
        <option>북아메리카</option>
        <option>남아메리카</option>
        <option>오세아니아</option>
        <option>유럽</option>
        <option>아프리카</option>
    </select>

    <br>
    <form action="/login" method = "POST" id = "loginForm">

    <div class="login-area">
    <fieldset class = "id-pw-area">
    <div>
        <input type="text" name = "memberEmail" placeholder= "이메일" id = "memberEmail">
    </div>
    <div>
        <input type="password" name = "memberPw" placeholder= "비밀번호" id = "memberPw">
    </div>
    <div>
        <a href="#">회원가입</a>
    </div>
    </fieldset>
</div>


    </form>

    <form action="/board" method = "POST" id = "gotoBoard">

        <button>게시판 가기</button>
    </form>
    
</body>
</html>