<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보</title>
</head>
<body>
    <h2>회원정보</h2>
    <table border="1" style="border-collapse: collapse;">
        <thead>
            <th>회원번호</th>
            <th>회원아이디</th>
            <th>회원이름</th>
            <th>회원나이</th>
        </thead>
    <tbody>
        <tr th:each="user : ${userList}" th:object="${user}">
            <td th:text="*{userNo}"></td>
            <td th:text="*{userId}"></td>
            <td th:text="*{userName}"></td>
        <td th:text="*{userAge}"></td>
    </tr>
    </tbody>
    </table>
    
  
</body>
</html>