<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.project.member.model.mapper.MemberMapper">
<!-- namespace에 연결할 Mapper 인터페이스 작성  ->  메퍼 인터페이스 메서드 호출 시 xml 파일에 같은 메서드명과 id를 가진 SQL이 수행됨 -->



<!-- ParameterType 속성은 TypeHandler를 이용해서 자료형을 판별할 수 있음 -> 꼭 써야할 필요는 없음
(https://mybatis.org/mybatis-3/sqlmap-xml.html)-->
<select id = "login" resultType = "Member">  
SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_PW, MEMBER_TEL, MEMBER_ADDRESS, PROFILE_IMG, AUTHORITY,
 TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
FROM "MEMBER"
WHERE MEMBER_EMAIL = #{memberEmail}
AND MEMBER_DEL_FL = 'N'

</select>


<!-- 회원가입 -->
<!-- <parameterType = "member"> 생략 -->
<!-- insert/update/delete 결과가 모두 행의 개수(int)이므로 resultType는 작성 X  -->
<insert id="signup">
INSERT INTO "MEMBER" VALUES(SEQ_MEMBER_NO.NEXTVAL,#{memberEmail},#{memberPw},#{memberNickname},#{memberTel},#{memberAddress},NULL,DEFAULT,DEFAULT,DEFAULT)
</insert>



<!-- 이메일 중복 검사 -->
<!-- 탈퇴되지 않은(MEMBER_DEL_FL = 'N) 계정 중에서 입력한 이메일을 조건으로 조회되는 행의 개수(count)를 조회하게 될 때
1이 반환되면 이미 존재한다는 뜻이므로 중복이라는 뜻이 됨. 0이 반환되면 없다는 뜻이므로 중복이 아니라는 뜻이 됨 -->
<select id="checkEmail" resultType = '_int'>
SELECT COUNT(*)
FROM "MEMBER"
WHERE MEMBER_DEL_FL = 'N'
AND MEMBER_EMAIL = #{memberEmail}
</select>


<select id="checkNickname" resultType = '_int'>
SELECT COUNT(*)
FROM "MEMBER"
WHERE MEMBER_DEL_FL = 'N'
AND MEMBER_NICKNAME = #{memberNickname}
</select>


<select id="selectMemberList" resultType="Member">
SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_DEL_FL
FROM "MEMBER"
ORDER BY MEMBER_NO</select>
</mapper>
