<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.test.model.mapper.UserMapper">
  
  
<select id="search" >
SELECT USER_NO, #{userId}, USER_NAME, USER_AGE FROM TB_USER

</select>
  
</mapper>

