<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf</title>
</head>
<body>
    <h1>Thymeleaf</h1>

    <hr>
    <h3>1. 템플릿 엔진</h3>
    <pre>
        템플릿 양식과 특정 데이터 모델에 따른 입력 자료를 합성하여 결과 문서(응답 화면)를 출력하는 것

        → 만들어둔 화면(html)에 데이터를 추가하여 하나의 html로 만들어서 응답

        (JSP도 템플릿 엔진)

        <a href="https://www.thymeleaf.org/">Thymeleaf</a>
    </pre>
    <hr>
    <h3>2. Thymeleaf</h3>
    <pre>
        웹 및 독립 실행형 환경 모두를 위한 최신 서버 측 Java 템플릿 엔진
        -> 웹 실행 == 요청 시 forward 되는 화면
        -> 독립 실행 == html 파일을 실행(인터넷 연결 X) 

        HTML 파일에서 th(Thymeleaf) 속성을 이용해 컨트롤러로 부터 전달 받은데이터를 이용해 동적 페이지를 만들 수 있음.

        Spring Boot에서는 JSP가 아닌 Thymeleaf 사용을 권장하고 있음.
    </pre>

    <ol>
        <li>
            <a href="/example/ex1">타임 리프 예제1</a>
        </li>
        <li>
            <form action="/example/ex2" method = "POST">
                <h3>타임리프 예제 2</h3>
                이름 : <input type="text" name = "inputName"><br>
                나이 : <input type="number" name = "inputAge"><br>
                <br>
                색상 :
                Red <input type="checkBox" name = "color" value = "Red">
                Green <input type="checkBox" name = "color" value = "Green">
                Blue <input type="checkBox" name = "color" value = "Blue"><br>

                <button>제출하기</button><br>

            </form>
        </li>
        <li>
            <a href="/example/ex3">타임 리프 예제 3</a><br>
        </li>

        <li>
            <a href="/example/ex4">타임 리프 예제 4</a>
        </li>

        <li>
            <a href="/example/ex5">타임리프 예제 5</a>
        </li>

    </ol>
    <hr>
    <h3>fragments/temp.html 중 th:fragment="temp1" 이라는 이름의 조각 추가하기</h3>

    <!-- controller에서 forward시 타임리프가 제공하는 접두사, 접미사를 제외한 경로를 작성 -->

    <!-- temp.html 파일의 temp1이라는 이름의 조각을 재사용 -->
    <th:block th:replace="~{fragments/temp :: temp1}"></th:block>

    <!-- temp.html 파일의 temp2이라는 이름의 조각을 재사용 -->
    <th:block th:replace="~{fragments/temp :: temp2}"></th:block>

    <!-- footer.html 파일 전체를 하나의 조각으로 취급하고 재사용하기 -->
    <th:block th:replace="~{fragments/footer}"></th:block>
    
    <!-- <th:block th:replace="~{templates/example/ex1}"></th:block> -->
</body>
</html>