h1{
    color:skyblue;
}

*{
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


  


    body{
        display: flex;
        flex-direction: column; /* 중심축 방향 세로 */
        align-items: center;    /* 교차축 방향 가운데 정렬 */
        min-height: 100vh;      /* 최소 높이를 화면 비율 100% */ 
        display: flex;
        justify-content: center;
        align-items: center;
      }





.login-area{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 320px;
    width: 100%;
}
